In [1]:
people = {
    'first': ['Rishabh', 'Shevi', 'Shubham', 'Shivam'],
    'last': ['Gupta', 'Gupta', 'Singh', 'Deshwal'],
    'email': ['gupta.rishabh2912@gmail.com', 'smileshelvi@gmail.com', 'shubham@gmail.com', 'deshwal.shivam@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

     first     last                        email
0  Rishabh    Gupta  gupta.rishabh2912@gmail.com
1    Shevi    Gupta        smileshelvi@gmail.com
2  Shubham    Singh            shubham@gmail.com
3   Shivam  Deshwal     deshwal.shivam@gmail.com

In [5]:
df['email']

0    gupta.rishabh2912@gmail.com
1          smileshelvi@gmail.com
2              shubham@gmail.com
3       deshwal.shivam@gmail.com
Name: email, dtype: object

In [6]:
df.set_index('email')

                               first     last
email
gupta.rishabh2912@gmail.com  Rishabh    Gupta
smileshelvi@gmail.com          Shevi    Gupta
shubham@gmail.com            Shubham    Singh
deshwal.shivam@gmail.com      Shivam  Deshwal

In [7]:
df #pandas didn't modified the index value

     first     last                        email
0  Rishabh    Gupta  gupta.rishabh2912@gmail.com
1    Shevi    Gupta        smileshelvi@gmail.com
2  Shubham    Singh            shubham@gmail.com
3   Shivam  Deshwal     deshwal.shivam@gmail.com

In [8]:
df.set_index('email', inplace=True) #to modify the index set inplace=True

In [9]:
df

                               first     last
email
gupta.rishabh2912@gmail.com  Rishabh    Gupta
smileshelvi@gmail.com          Shevi    Gupta
shubham@gmail.com            Shubham    Singh
deshwal.shivam@gmail.com      Shivam  Deshwal

In [10]:
df.index

Index(['gupta.rishabh2912@gmail.com', 'smileshelvi@gmail.com',
       'shubham@gmail.com', 'deshwal.shivam@gmail.com'],
      dtype='object', name='email')

In [11]:
df.loc['gupta.rishabh2912@gmail.com']

first    Rishabh
last       Gupta
Name: gupta.rishabh2912@gmail.com, dtype: object

In [12]:
df.loc['gupta.rishabh2912@gmail.com', 'last']

'Gupta'

In [13]:
df.iloc[0]

first    Rishabh
last       Gupta
Name: gupta.rishabh2912@gmail.com, dtype: object

In [14]:
df.reset_index(inplace=True)

In [15]:
filt = (df['last'] == 'Gupta')

In [16]:
df[filt] # directly filtered

                         email    first   last
0  gupta.rishabh2912@gmail.com  Rishabh  Gupta
1        smileshelvi@gmail.com    Shevi  Gupta

In [17]:
df.loc[filt] #we can use also loc also to filter (Better method)

                         email    first   last
0  gupta.rishabh2912@gmail.com  Rishabh  Gupta
1        smileshelvi@gmail.com    Shevi  Gupta

In [18]:
df.loc[filt,'email'] #we can use also loc also to filter 
#and we also pass in second argument to get a specific column

0    gupta.rishabh2912@gmail.com
1          smileshelvi@gmail.com
Name: email, dtype: object

In [19]:
filt = (df['last'] == 'Gupta') & (df['first'] == 'Rishabh') #And (&)

In [20]:
df.loc[filt, 'email']

0    gupta.rishabh2912@gmail.com
Name: email, dtype: object

In [21]:
filt = (df['last'] == 'Gupta') | (df['first'] == 'Shivam') #OR (|)

In [22]:
df.loc[filt, 'email']

0    gupta.rishabh2912@gmail.com
1          smileshelvi@gmail.com
3       deshwal.shivam@gmail.com
Name: email, dtype: object

In [23]:
df.loc[~filt, 'email'] # NOT (~)

2    shubham@gmail.com
Name: email, dtype: object

In [24]:
df

                         email    first     last
0  gupta.rishabh2912@gmail.com  Rishabh    Gupta
1        smileshelvi@gmail.com    Shevi    Gupta
2            shubham@gmail.com  Shubham    Singh
3     deshwal.shivam@gmail.com   Shivam  Deshwal

In [25]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [26]:
df.columns = [ 'email', 'first_name', 'last_name']

In [27]:
df

                         email first_name last_name
0  gupta.rishabh2912@gmail.com    Rishabh     Gupta
1        smileshelvi@gmail.com      Shevi     Gupta
2            shubham@gmail.com    Shubham     Singh
3     deshwal.shivam@gmail.com     Shivam   Deshwal

In [28]:
df.columns = [x.upper() for x in df.columns]

In [29]:
df

                         EMAIL FIRST_NAME LAST_NAME
0  gupta.rishabh2912@gmail.com    Rishabh     Gupta
1        smileshelvi@gmail.com      Shevi     Gupta
2            shubham@gmail.com    Shubham     Singh
3     deshwal.shivam@gmail.com     Shivam   Deshwal

In [30]:
df.columns = df.columns.str.replace('_', ' ')
df

                         EMAIL FIRST NAME LAST NAME
0  gupta.rishabh2912@gmail.com    Rishabh     Gupta
1        smileshelvi@gmail.com      Shevi     Gupta
2            shubham@gmail.com    Shubham     Singh
3     deshwal.shivam@gmail.com     Shivam   Deshwal

In [31]:
df.columns = df.columns.str.replace(' ', '_')
df.columns = [x.lower() for x in df.columns]
df

                         email first_name last_name
0  gupta.rishabh2912@gmail.com    Rishabh     Gupta
1        smileshelvi@gmail.com      Shevi     Gupta
2            shubham@gmail.com    Shubham     Singh
3     deshwal.shivam@gmail.com     Shivam   Deshwal

In [32]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

                         email    first     last
0  gupta.rishabh2912@gmail.com  Rishabh    Gupta
1        smileshelvi@gmail.com    Shevi    Gupta
2            shubham@gmail.com  Shubham    Singh
3     deshwal.shivam@gmail.com   Shivam  Deshwal

In [33]:
df.loc[1] = ['smileshelvi@gmail.com', 'Shelvi', 'Goli']
df

                         email    first     last
0  gupta.rishabh2912@gmail.com  Rishabh    Gupta
1        smileshelvi@gmail.com   Shelvi     Goli
2            shubham@gmail.com  Shubham    Singh
3     deshwal.shivam@gmail.com   Shivam  Deshwal

In [34]:
df.loc[1, ['last', 'email']] = ['Garg', 'garg.shelvi@gmail.com']
df

                         email    first     last
0  gupta.rishabh2912@gmail.com  Rishabh    Gupta
1        garg.shelvi@gmail.com   Shelvi     Garg
2            shubham@gmail.com  Shubham    Singh
3     deshwal.shivam@gmail.com   Shivam  Deshwal

In [35]:
df.loc[df['last'] == 'Singh', 'email'] = 'shubham786@gmail.com'
df

                         email    first     last
0  gupta.rishabh2912@gmail.com  Rishabh    Gupta
1        garg.shelvi@gmail.com   Shelvi     Garg
2         shubham786@gmail.com  Shubham    Singh
3     deshwal.shivam@gmail.com   Shivam  Deshwal

In [36]:
df.loc[3, 'email'] = 'corner@esports.com'
df.loc[3]

email    corner@esports.com
first                Shivam
last                Deshwal
Name: 3, dtype: object

In [38]:
df.at[0, 'first'] = 'Rapid' # df.at() and df.loc or df.iloc works similarly in editing data
df # But df.loc() and df.iloc() is mostly used

                         email    first     last
0  gupta.rishabh2912@gmail.com    Rapid    Gupta
1        garg.shelvi@gmail.com   Shelvi     Garg
2         shubham786@gmail.com  Shubham    Singh
3           corner@esports.com   Shivam  Deshwal

In [42]:
filt = (df['email'] == 'corner@esports.com')
df[filt]['last'] = 'Deshu' # Always use df.loc() or df.at() to change values

C:\Users\RAPID\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
filt = (df['email'] == 'corner@esports.com')
df.loc[filt, 'last'] = 'Deshu'
df

                         email    first   last
0  gupta.rishabh2912@gmail.com    Rapid  Gupta
1        garg.shelvi@gmail.com   Shelvi   Garg
2         shubham786@gmail.com  Shubham  Singh
3           corner@esports.com   Shivam  Deshu

In [57]:
df['first'] = df['first'].str.upper()
df['last'] = df['last'].str.lower()
df

                         email    first   last
0  gupta.rishabh2912@gmail.com    RAPID  gupta
1        garg.shelvi@gmail.com   SHELVI   garg
2         shubham786@gmail.com  SHUBHAM  singh
3           corner@esports.com   SHIVAM  deshu

In [ ]:
#apply 
#map
#applymap       (4 popular method to change values)
#replace

In [58]:
#apply

df['email'].apply(len) #passing function as arg NO "()"

0    27
1    21
2    20
3    18
Name: email, dtype: int64

In [59]:
def update_email(email):
    return email.upper()

In [61]:
df['email'].apply(update_email)  #passing function as arg NO "()"

0    GUPTA.RISHABH2912@GMAIL.COM
1          GARG.SHELVI@GMAIL.COM
2           SHUBHAM786@GMAIL.COM
3             CORNER@ESPORTS.COM
Name: email, dtype: object

In [63]:
df['email'] = df['email'].apply(update_email) 
df

                         email    first   last
0  GUPTA.RISHABH2912@GMAIL.COM    RAPID  gupta
1        GARG.SHELVI@GMAIL.COM   SHELVI   garg
2         SHUBHAM786@GMAIL.COM  SHUBHAM  singh
3           CORNER@ESPORTS.COM   SHIVAM  deshu

In [66]:
df['last'] = df['last'].apply(lambda x: x.upper()) #mostly lamda functions is used for small changes
df

                         email    first   last
0  GUPTA.RISHABH2912@GMAIL.COM    RAPID  GUPTA
1        GARG.SHELVI@GMAIL.COM   SHELVI   GARG
2         SHUBHAM786@GMAIL.COM  SHUBHAM  SINGH
3           CORNER@ESPORTS.COM   SHIVAM  DESHU

In [67]:
df['email'].apply(len)

0    27
1    21
2    20
3    18
Name: email, dtype: int64

In [69]:
df.apply(len, axis='columns') #giving length of number of rows(default) or columns

0    3
1    3
2    3
3    3
dtype: int64